{% extends 'base.html.twig' %}

{% block body %}
    <div class="background-img">
        <div>
            {% if is_granted('ROLE_USER') %}
            <a class="upload-button-track-button" href="{{ path('app_tracks_upload') }}" >
                <p>Upload track</p>
            </a>
            {% endif %}
            <h2>Select a Track</h2>
            {% for track in tracks %}
            <div class="track-selection-player">
                <a class="track-selection-player-card" href="{{ path('app_tracks_player_unique', {'id': track.id}) }}">
                    <h5 class="track-selection-card-content">{{ track.title }}</h5>
                    <h5 class="track-selection-card-content">By: {{ track.author.username }}</h5>
                    <h5 class="track-selection-card-content">Time: {{ track.authorTime|date|slice(16,22) }}</h5>
                    <h5 class="track-selection-card-content">Difficulty: {{ track.difficulty }}</h5>
                    <h5 class="track-selection-card-content">Type: {{ track.tracktype }}</h5>
                    <img style="font-size: large" width="100px" height="100px" alt="{{ track.title }}"
                         src="{{ asset('build/uploads/tracks/images/' ~ track.image()) }}"/>
                </a>

            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}